* {margin: 0;padding: 0;}

.contentpagesanpham {
    width: 1175px;
    display: flex;
    justify-content: space-between;
    height: 500px;
    margin: auto;
}
.contentpagesanpham .trai{
    width: 300px;
    background-color: thistle;

}
.contentpagesanpham .phai{
    width: 860px;
    background-color: teal;
}
.contentpagesanpham .trai .danhmuc{
   margin-top: 20px;

}